{% extends 'base.html.twig' %}

{% block content %}
    <h1>SECURE</h1>

    <p>Hello <b>{{ app.security.token.username }}!</b></p>
    <p><a href="{{ path('logout') }}">Logout</a></p>
{% endblock %}
